* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  /* background-color: red; */
}

.container {
  $padding-inline-value: 64px;
  max-width: 1200px + 2 * $padding-inline-value;
  margin-inline: auto;
  padding-inline: $padding-inline-value;
}

.wrapper {
  padding-block: 64px;
}

.button {
  width: fit-content;
  background-color: blue;
  padding: 8px 16px;
  border-radius: 4px;
  color: white;
  font-weight: 500;
  text-align: center;
  &--type-text {
    background-color: unset;
    color: blue;
    padding-inline: 0;
  }
}

.main {
  img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.nav {
  background-color: white(0, 0, 0);
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  container-type: inline-size;
  container-name: nav;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-block: 12px;
  }
  &__menuWrapper {
    display: flex;
    gap: 24px;
    align-items: baseline;
  }
  .lt680px {
    display: none;
  }
  @container nav (width < 42.5rem) {
    &__menuWrapper {
      display: none;
    }
    .lt680px {
      display: unset;
    }
  }
}

#hero1 {
  .gradient-bg {
    background: linear-gradient(
      to bottom,
      #ffffff,
      #2200ff
    ); /* 그라데이션 설정 */
    /* 그 외 스타일 설정 */
    width: 100%;
    height: 100vh; /* 그라데이션의 전체 높이 조정 */
    /* 내용을 가운데로 정렬하고 싶은 경우 */
    display: flex;
    justify-content: center;
  }
  .wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
    & > * {
      flex: 1;
    }
  }

  .main {
    &__text {
      &__buttonWrapper {
        display: flex;
        gap: 16px;
      }
    }
    &__media {
      aspect-ratio: 4 / 3;
    }
  }
  h2 {
    margin-bottom: 10px;
  }
  p {
    max-width: 40ch;
    margin-bottom: 24px;
  }
  @media (width < 850px) {
    .swiper-slide {
      display: block;
      text-align: center;
      p {
        margin-inline: auto;
      }
    }
    .main {
      &__text {
        margin-bottom: 36px;
        &__buttonWrapper {
          margin-inline: auto;
          flex-direction: column;
          align-items: center;
          gap: 0;
        }
      }
    }
  }
}

.nav__bar {
  position: relative;
  height: 20px;
  background-color: #333;
}

.hamburger {
  position: absolute;
  top: 25%;
  transform: translateY(-50%);
  width: 25px;
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 1.5px;
  background-color: #000000;
}

.nav .wrapper {
  display: flex;
  justify-content: space-between;
  padding-block: 12px;
  align-items: baseline;
}

.nav__menuWrapper {
  display: flex;
  gap: 24px;
  align-items: center;
}

.nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #ffffff;
}

.logo img {
  margin-top: 10px;
  width: 150px;
  height: auto;
}

.main__media {
  background-image: url("이미지주소");
  background-size: cover; /* 이미지를 화면에 꽉 차게 표시 */
  background-position: center center; /* 이미지를 가운데로 정렬 */
  width: 100%;
  height: 100vh;

  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
}

.swiper-slide {
  display: inline-block;
  width: 100%;
  scroll-snap-align: center;
}

.footer {
  background-color: gray;
  color: white;
  font-size: 0.875rem;
  container-type: inline-size;
  container-name: footer;
  a {
    text-decoration: none;
    color: white;
  }

  li {
    list-style: none;
  }

  svg {
    fill: white;
  }

  .wrapper {
    // /display: flex;
    // justify-content: space-between;
    // gap: 24px;
    // > * {
    //   flex: 1;
    // }
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
  }

  h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 4px;
  }
  li {
    margin-bottom: 0.5rem;
  }
  &__logo {
    margin-bottom: 12px;
  }
  &__extlinkwrap {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  @container footer (width < 44.375rem) {
    .column:first-of-type {
      grid-row: 1 / span 2;
    }
    .wrapper {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
