* {
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
}

body {
  background-color: rgb(0, 0, 0);
  font-family: "Diphylleia", serif;
  font-size: 1.125rem;
  line-height: 1.5;
  margin: 0;
}

main {
  margin-inline: auto;
  width: min(70ch, 100% - 2 * 32px);
}

img,
svg,
video {
  display: block;
  max-width: 100%;
}
