@import "theme.dark.css" (prefers-color-scheme: dark);
@import "theme.light.css" (prefers-color-scheme: light);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.hide {
  display: none;
}

html {
  color-scheme: light dark;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: rgb(0, 0, 0);
  color: var(--txt);
  font-family: system-ui;
  font-size: 1.125rem;
  line-height: 1.5;
}
body::after {
  content: "";
  height: 1px;
  width: 100%;
  position: fixed;
  bottom: 200px;
}

main {
  line-height: 2.1875rem;
  overflow: hidden;
  z-index: 1;
  grid-column: 1/span 2;
  grid-row: 1;
  color: white;
  width: 100%;
  height: 100%;
}

.animTrigger {
  position: relative;
}
.animTrigger::after {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  top: 75%;
}

.section {
  scroll-snap-align: center;
  overflow: hidden;
  justify-content: center;
}

.container {
  margin-inline: auto;
  padding-inline: 2rem;
}

.wrapper1 {
  display: flex;
  grid-template-columns: repeat(auto-fill, 22.5rem);
  justify-content: center;
  grid-auto-rows: 1fr;
  gap: 2rem;
  padding-block: 3rem;
}

.card {
  color: white;
  overflow: hidden;
  border-radius: 0.75rem;
  min-width: 15rem;
  background-color: 50%, rgb(0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
  transition: background-color 500ms ease-out, box-shadow 500ms ease-out;
}
.card-selected {
  box-shadow: 0px 1px 2px rgba(97, 89, 89, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}
.card-selected .card__imgWrap:before {
  opacity: 0.25;
}
.card__top {
  padding: 0.75rem 0.25rem 0.75rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__top__wrap-1 {
  flex-grow: 1;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.card__top__profile {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000rem;
  width: 2.5rem;
  height: 2.5rem;
  color: oklch(98 0.013 322);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-transform: capitalize;
}
.card__top__wrap-2 {
  flex-grow: 1;
}
.card__top__header {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-transform: capitalize;
  margin-bottom: 4px;
}
.card__top__subheader {
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: capitalize;
}
.card__imgWrap {
  position: relative;
}
.card__imgWrap__bottom {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}
.card__imgWrap__bottom__title {
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: capitalize;
}
.card__imgWrap__bottom__wrap-2 {
  display: flex;
  justify-content: end;
  gap: 0.5rem;
}

.wrapper {
  text-align: center;
  font-family: "Diphylleia", serif;
  display: flex;
  flex-direction: column;
  justify-content: center top;
  max-width: calc(80ch + 4rem);
  min-height: max(50dvh, 2rem);
  margin-inline: auto;
  padding-inline: 2rem;
}

header {
  text-align: center;
  word-break: keep-all;
}

.stickyWrapper {
  display: grid;
  position: relative;
  grid-template-columns: fit-content(0) 1fr;
  grid-template-rows: 1fr;
}

aside {
  position: sticky;
  z-index: 3;
  top: 0;
  grid-column: 1;
  grid-row: 1;
  width: -moz-fit-content;
  width: fit-content;
  height: max(100dvh, 2rem);
  padding-inline: 1rem 1.5rem;
  border-radius: 0 1rem 1rem 0;
  background-color: var(--surface-transparent);
  font-size: 0.875rem;
  -webkit-backdrop-filter: blur(0.25rem);
          backdrop-filter: blur(0.25rem);
}
aside ol {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
aside ol li {
  display: flex;
  align-items: center;
  justify-content: center top;
  transition: color 150ms ease-out;
  color: var(--onSurface);
  font-weight: 600;
  text-transform: capitalize;
  gap: 0.75rem;
}
aside ol li::before {
  content: "";
  width: 1rem;
  height: 1rem;
  margin-top: 0.125rem;
  transition: border-color 150ms ease-out;
  border: 0.125rem solid var(--onSurface);
  border-radius: 999999999px;
}
aside ol li:hover {
  color: var(--accent);
}
aside ol li:hover::before {
  border-color: var(--accent);
}
aside a {
  text-decoration: none;
}

.progressBar {
  position: sticky;
  z-index: 2;
  top: 0;
  grid-column: 1/span 2;
  grid-row: 1;
  width: 100%;
  height: 1rem;
  background-color: var(--surface);
}
.progressBar .indicator {
  position: absolute;
  transform-origin: left;
  background-color: var(--accent);
  inset: 0;
}

footer .wrapper {
  min-height: max(100dvh, 2rem);
}

@media (width < 67.5rem) {
  .stickyWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }
  main {
    grid-column: 1;
    grid-row: 3;
  }
  .progressBar {
    grid-column: 1;
    grid-row: 1;
  }
}
@media (width < 59.1875rem) {
  aside ol {
    justify-content: flex-start;
  }
}
#section1 .content.animTarget {
  transition: background-color 800ms ease-out, border 800ms ease-out;
}
#section1 h2.animTarget {
  transform: translateX(-100vw);
  transition: transform 800ms ease-out;
}
#section1 p.animTarget {
  transform: translateX(100vw);
  transition: transform 800ms ease-out;
}
#section1.triggered .content.animTarget {
  border: 0px solid transparent;
}
#section1.triggered h2.animTarget {
  transform: translateX(0);
}
#section1.triggered p.animTarget {
  transform: translateX(0);
}

#section2 .animTarget {
  transform: scale(0);
  transition: transform 800ms ease-out;
}
#section2.triggered .animTarget {
  transform: scale(1);
}

#section3 .animTarget {
  transform: scale(0);
  transition: transform 800ms ease-out;
}
#section3.triggered .animTarget {
  transform: scale(1);
}

#section4 .animTarget {
  transform: scale(0);
  transition: transform 800ms ease-out;
}
#section4.triggered .animTarget {
  transform: scale(1);
}

#section5.triggered .animTarget {
  animation: wiggle 2s linear infinite;
}

#section6 .animTarget {
  transform: scale(0);
  transition: transform 800ms ease-out;
}
#section6.triggered .animTarget {
  transform: scale(1);
}

#section7 .animTarget {
  transform: scale(0);
  transition: transform 800ms ease-out;
}
#section7.triggered .animTarget {
  transform: scale(1);
}

#section8 .animTarget {
  transform: scale(0);
  transition: transform 800ms ease-out;
}
#section8.triggered .animTarget {
  transform: scale(1);
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}
#section0 h1 {
  filter: blur(3px);
  transition: filter 300ms ease-in;
}

#section0 h1:hover {
  filter: blur(0px);
}/*# sourceMappingURL=story.css.map */